@import "bootstrap/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

//variables
$white: #fff;
$green: #0ac53f;
$yellow: #ebe217;
$blue: #092b96;
$blue-button: #5077f5;
$blue-trans: rgba(80, 119, 245, .5);
$black-trans: hsla(0, 0%, 100%, .5);
$yellow-trans: rgba(235, 226, 23, .5);

$blue-gradient: linear-gradient(180deg, rgba(9, 43, 150, .71), rgba(9, 43, 150, .71)), url("/assets/bluegrad.jpg");

//logged logic
.logged {
    .logged-block {
        display: block;
    }
    .logged-flex {
        display: flex;
    }
    .logged-inline {
        display: inline;
    }
    .logged-inline-block {
        display: inline-block;
    }
    .unlogged {
        display: none;
    }
}
[class*="logged-"] {
    display: none;
}

//Css
html, body {
    width: 100%;
}
body {
    font-family: "Roboto";
    font-size: 16px;
}
.bg-green {
    background-color: $green;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-blue {
    background-color: $blue;
}
.bg-white {
    background-color: white;
}
.bg-blue-gradient {
    background-image: $blue-gradient;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}
.container-fluid {
    padding-left: 10vw;
    padding-right: 10vw;
}
.navbar-brand {
    img {
        max-width: 40px;
        max-height: 30px;
    }
}
.navbar-nav {
    display: flex;
    .nav-item {
        flex-grow: 0;
        flex-shrink: 1;
        padding: 16px 24px;
        padding-bottom: 8px;
        cursor: pointer;
        .nav-link {
            color: $blue;
            text-decoration: none;
            cursor: pointer;
            font-weight: 500;
            padding: 0;

            &:hover {
                text-decoration: none;
            }
            
        }
        &.active {
            border-bottom: 2px solid $blue;
        }
        &:hover {
            border-bottom: 2px solid $blue;
        }
    }
}
.ideabox {
    border-width: 3px !important;
    padding: 16px;
    max-width: 300px;
    color: $blue;
    border-color: $blue !important;
}
.header {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: $blue;
    h1 {
        font-size: 4.5rem;
        margin: 0;
        padding: 0;
    }
    h4 {
        padding-bottom:2rem;
        font-style: italic;
        font-size: 1.25rem;
    }
}
.btn {
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}
.btn-default {
    background-color: $blue;
    color: $white;
    border: 2px solid transparent;
    &:hover {
        border-color: $white;
        color: white !important;
    }
}
.btn-light {
    background-color: $green;
    color: $white;
    border: 2px solid transparent;
    &:hover {
        border-color: $white;
        color: white !important;
    }
}

.btn-info {
    color: $blue;
    background-color: transparent;
    border: 2px solid $blue;
    &:hover {
        color: $green !important;
        background-color: $blue;
    }
}

.blue-block {
    @include media-breakpoint-up(md) {
        padding: 6rem;
    }
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
    h2 {
        color: white;
        font-size: 3.5rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    p {
        color: white;
        font-weight: 500;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .btn {
        font-weight: 400;
    }
}

.showimage {
    img {
        width: 350px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &.left {
        img {
            margin-left: initial;
            margin-right: auto;
        }
    }
}
.yellow-block {
    @include media-breakpoint-up(md) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    padding-top: 8rem;
    padding-bottom: 8rem;
    h2 {
        color: $blue-trans;
        font-size: 5rem;
        margin: 0;
        padding: 0;
        @include media-breakpoint-up(md) {
            padding-top: 4rem;
        }
    }
    h4 {
        color: $blue-button;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        padding-bottom: 4rem;
    }
}

.blue-block-next {
    @include media-breakpoint-up(md) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    padding-top: 8rem;
    padding-bottom: 8rem;
    h2 {
        text-align: center;
        color: $black-trans;
        font-size: 5rem;
        margin: 0;
        padding: 0;
    }
    h4 {
        text-align: center;
        color: white;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        padding-bottom: 4rem;
    }
}
.green-block-first {
    @include media-breakpoint-up(md) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    padding-top: 8rem;
    padding-bottom: 8rem;
    h2 {
        color: $blue;
        font-size: 5rem;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: 1.5rem;
        color: $blue;
        font-weight: 500;
    }
}

.green-block {
    @include media-breakpoint-up(md) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    padding-top: 8rem;
    padding-bottom: 8rem;
    h2 {
        color: $yellow-trans;
        font-size: 5rem;
        margin: 0;
        padding: 0;
        @include media-breakpoint-up(md) {
            padding-top: 4rem;
        }
    }
    h4 {
        color: $yellow;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        padding-bottom: 4rem;
    }
}

.login-form {
    margin-top: 60px;
    @include media-breakpoint-up(md) {
        margin-top: 20vh;
    }
}

.feed {
    max-width: 1080px;
    width: 100%;
}
.mini-profile {
    .image {
        height: 4rem;
        width: 4rem;
        overflow: hidden;
        border-radius: 50%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .username {
        font-weight: 500;
    }
    margin-bottom: 2rem;
}
.add-post {
    // background-color: rgb(241, 241, 241);
    // border-radius: 1rem;
    // border: 1px solid #c4c4c4;
    // padding: 1rem;
}
.posts {
    padding-top: 2rem;
}
.post {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .post-profile {
        .image {
            height: 2rem;
            width: 2rem;
            overflow: hidden;
            border-radius: 50%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.team {
    @include media-breakpoint-up(md) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    padding-top: 8rem;
    padding-bottom: 8rem;
    .team-member {
        max-width: 280px;
        margin: 1rem;
    }
    h2 {
        font-size: 5rem;
        font-weight: 500;
        text-align: center;
        color: $blue;
    }
    .name {
        font-size: 2rem;
        font-weight: 500;
        color: $blue;
        text-align: center;
    }
    .bio {
        font-weight: 500;
        text-align: justify;
        color: $blue;
    }
    .image {
        height: 10rem;
        width: 10rem;
        overflow: hidden;
        border-radius: 50%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.person {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .card-body {
        padding: 0.5rem 1rem;
    }
    .image {
        height: 2rem;
        width: 2rem;
        overflow: hidden;
        border-radius: 50%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.action {
    cursor: pointer;
    .follow-sign, .unfollow-sign {
        display: none;
    }
    &.follow {
        .follow-sign {
            display: inline;
        }
    }
    &.unfollow {
        .unfollow-sign {
            display: inline;
        }
    }
    &:hover {
        text-decoration: underline;
    }
}
.text-blue {
    color: $blue;
}
.text-red {
    color: #e41313;
}
.text-green {
    color: $green;
}
.table {
    th,td {
        border: none;
    }
}
.balance-change {
    span {
        font-size: 4rem;
        font-weight: 500;
        &.incre {
            color: $green;
            &::before {
                content: '+';
            }
        }
        &.decre {
            color: #e41313;
            &::before {
                content: '+';
            }
        }
    }
}
.actitivy-sum {
    td {
        padding: 0;
        font-weight: 700;
    }
}
.transactions {
    td, th {
        padding: 0;
        color: inherit;
    }
    th {
        padding-bottom: 0.25rem;
        color: $blue;
    }
    table {
        table-layout: fixed;
    }
    td, th {
        &:nth-child(1) {
            width: 20%;
        }
        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            width: 30%;
        }
        &:nth-child(4) {
            width: 10%;
        }
        &:nth-child(5) {
            width: 10%;
        }
    }
    .incre {
        color: $green;
    }
    .decre {
        color: #e41313;
    }
}
.period {
    color: $blue;
    span {
        font-weight: 700;
        font-size: 1.25rem;
        padding: 1rem;
        cursor: pointer;
    }
    .active {
        color: $green;
    }
}

.social {
    .like {
        font-size: 1.5rem;
        color: $green;
        .far {
            display: none;
        }
        &.notliked {
            cursor: pointer;
            .far {
                display: inline-block;
            }
            .fas {
                display: none;
            }
            &:hover {
                .far {
                    display: none;
                }
                .fas {
                    display: inline-block;
                }
            }
        }
        &.off {
            color: $gray-400;
        }
    }
    .like-count {
        &::after {
            content: ' likes';
        }
    }
}